#pub_congbg {
	width: 100%;
	min-width: 1020px;
	height: auto !important;
	min-height: 400px !important;
	margin: auto;
	background: url(../images/pubbg.jpg) no-repeat top center;
	clear: both;
}

form, ul, li {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
body {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
}
#pub_congbg .menu1 {
	width: 1000px;
	height: 30px;
	margin: auto;
}

.pub_cont {
	width: 1020px;
	height: 100%;
	min-height: 400px;
	margin: auto;
	clear: both;
}
.pub_cont {
	width: 1020px;
	height: 100%;
	min-height: 400px;
	margin: auto;
	clear: both;
}

.clear {
	clear: both;
}
.pub_left {
	width: 200px;
	height: 100%;
	float: left;
	min-height: 400px;
	background: url(../images/pub_leftcobg.jpg) no-repeat;
}

.pub_right {
	width: 820px;
	height: 100%;
	float: right;
}

.pub_right .wh {
	width: 800px;
	height: 35px;
	padding-right: 20px;
	line-height: 35px;
	font-size: 12px;
	text-align: right;
	color: #000000;
	background: #1fa4f0;
}

.relic_list_ti {
	width: 800px;
	height: 32px;
	margin: auto;
	background: url(../images/relic_list_tibg.jpg) no-repeat;
}
.relic_list_cobg {
	width: 800px;
	height: auto;
	min-height: 800px;
	background: url(../images/relic_listbg2.jpg) repeat-y;
	margin: auto;
}
.relic_list_endbg {
	width: 800px;
	height: 20px;
	background: url(../images/relic_listbg3.jpg) no-repeat;
	margin: auto;
	clear: both;
}
.height10 {
	height: 10px;
	overflow: hidden;
	clear: both;
}
.relic_list_topbg {
	width: 800px;
	height: auto;
	min-height: 700px;
}
.relic_list_img {
	width: 200px;
	height: 700px;
	float: left;
}
.relic_list_class {
	width: 265px;
	height: 600px;
	float: right;
	background: #1fa4f0;
}
.relic_list_class .null {
	width: 265px;
	height: 50px;
}
.relic_list_class .relic_list_btn {

	width: 240px;
	height: 60px;
	margin: 20px auto;
}
.relic_list_class .relic_list_title {
	width: 240px;
	height: 40px;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	color: #8c4600;
	margin: auto;
}
.relic_list_class .relic_list_date {
	width: 240px;
	height: 30px;
	text-align: left;
	line-height: 30px;
	color: #8c4600;
	margin: auto;
}
.relic_list_class .relic_list_infor {
	width: 240px;
	text-align: left;
	line-height: 30px;
	color: #8c4600;
	margin: auto;
}
.relic_list_class .relic_list_btn li {
	width: 120px;
	height: 60px;
	float: left;
	text-align: center;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
.relic_list_img .relic_showimg_title {
	width: 520px;
	height: 60px;
	line-height: 40px;
	margin-top: 50px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #8c4600;
}
.relic_list_img .relic_showimg {
	width: 520px;
	height: 500px;
	margin: auto;
	text-align: center;
}
.relic_list_ti li.relic_title {
	float: left;
	width: 80px;
	height: 32px;
	background: url(../images/relic_wwkx.jpg) no-repeat;
}
.pub_right .wh a {
	color: #663300;
}
.pub_left_all {
	width: 200px;
	height: 670px;
	min-height: 400px;
	clear: both;
	background: #1fa4f0;
}

.pub_cont .pub_title_relic {
	width: 200px;
	height: 200px;
}

.pub_cont .pub_class_nav {
	width: 200px;
	font-size: 36px;
	font-family: "楷体";
}
.pub_cont .pub_class_nav li {
	width: 200px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #8c4600;
	font-size: 12px;
	font-weight: bold;
}

.pub_cont .pub_class_nav li.class_h {
	width: 200px;
	height: 30px;
	background: url(../images/class_nav_h.png) no-repeat;
}

.pub_cont .pub_class_nav a {
	color: #8c4600;
}

#pub_congbg .menu1 .nav {
	width: 975px;
	height: 30px;
	float: left;
}

#pub_congbg .menu1 .nav {
	width: 1000px;
	height: 30px;
	float: l
}
#pub_congbg .menu1.search li.input {
	width: 131px;
	height: 24px;
	background: url(../images/search_input.jpg) no-repeat;
	float: left;
	text-align: right;
}
.menu1 .search li.btn {
	width: 62px;
	height: 24px;
	float: left;
}

#pub_congbg .menu1 .search li.btn {
	width: 62px;
	height: 24px;
	float: left;
}
.menu1 .search li.btn input {
	width: 62px;
	height: 24px;
	background: url(../images/search_btn.jpg) no-repeat;
	border: 0px;
	cursor: pointer;
}
#pub_congbg .menu1 .search li.btn input {
	width: 62px;
	height: 24px;
	background: url(../images/search_btn.jpg) no-repeat;
	border: 0px;
	cursor: pointer;
}
.menu1 .search li.input input {
	width: 126px;
	height: 18px;
	border: 0px;
	margin-top: 2px;
	background: no-repeat;
	color: #ffffff;
}

#pub_congbg .menu1 .search li.input input {
	width: 126px;
	height: 18px;
	border: 0px;
	margin-top: 2px;
	background: no-repeat;
	color: #ffffff;
}
#pub_congbg .menu1 .nav li {
	width: 88px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	font-family: "ËÎÌå";
	float: left;
	color: #ffffff;
	background: none;
}

#pub_congbg .menu1 .nav li.nav_h {
	width: 88px;
	height: 30px;
	background: url(../images/pub_nav_h.png) no-repeat center;
}

#pub_congbg .menu1 .nav a {
	color: #ffffff;
}
