html, body, h1, h2, h3, h4, h5, h6, div, ol, ul, li, dl, dt, dd, table, caption, tr, th, td, span, p, a, b, u, i, em, img, iframe, fieldset, form, label, legend, input, button, select, textarea {
	margin: 0;
	padding: 0;
}
.collection1 .box {
	margin-top: 24px;
}
.titl {
	font: 14px/1.5 "Microsoft YaHei", Arial, Tahoma, Helvetica, sans-serif;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased !important;
	max-width: 1920px;
	color: #707070;
	font-size:28px;
	font-family:"楷体";
	position: relative;
	text-align:center;
}
.wrap {
	width: 800px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.collection1 .wrap {
	padding-bottom: 64px;
	background: url(../image/line1.png) center bottom repeat-x;
}
.collection1 {
	padding-top: 0px;
}
.header, .body, .footer {
	min-width: 1000px;
}
body {
	font: 14px/1.5 "Microsoft YaHei", Arial, Tahoma, Helvetica, sans-serif;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased !important;
	max-width: 1920px;
	margin: 0 auto;
	color: #707070;
	font-family: 微软雅黑,"Heiti SC",黑体,Arial;
	position: relative;
}
.collection1 .box .div {
	width: 150px;
	height: 200px;
	overflow: hidden;
	position: relative;
	float: left;
	margin: 0 0 6px 6px;
}
.collection1 .box .div.a {
	margin-left: 0px;
}
a {
	text-decoration: none;
	color: inherit;
}
img {
	border: 0;
	outline: 0;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}
.collection1 .box .div img {
	width: 100%;
	height: auto;
	-webkit-transition: all .8s ease 0s;
	-moz-transition: all .8s ease 0s;
	transition: all .8s ease 0s;
}
.collection1 .box .div.db .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	left: 0px;
	top: 0px;
	transition: all 1.8s;
	-webkit-transition: all 1.8s;
}
.collection1 .box .div.db .b1 {
	opacity: 0;
}
.collection1 .box .db.on .b1 {
	opacity: 1;
}
.collection1 .box .div.db .b2 {
	opacity: 0;
	transform: translateY(15px);
	-webkit-transform: translateY(15px);
}
.collection1 .box .db.on .b2 {
	opacity: 1;
	transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #474747;
	line-height: 1.2;
}
.collection1 .box .div h3 {
	text-align: center;
	color: #fff;
	width: 100%;
	position: absolute;
	left: 0px;
	font-size: 26px;
	top: 30px;
	line-height: 1.2;
	color: #000;
}