body {
	font-family: "Microsoft YaHei","SimSun","宋体",Tahoma,Helvetica,Arial,Verdana;
	font-size: 14px;
	color: #333333;
}
html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, img, div {
	margin: center;
	padding: 0;
}
.contbg {
	width: 100%;
	min-width: 1020px;
	height: auto;
	min-height: 400px;
	margin: auto;
	clear: both;
}
html, body {
	height: 100%;
}
.at-center {
	width: 1020px;
	height: auto !important;
	min-height: 600px;
	margin: auto;
}
.at-center .wh {
	width: 1010px;
	height: 35px;
	padding-left: 10px;
	line-height: 35px;
	font-size: 12px;
	text-align: left;
	color: #663300;
}
.cm-box {
	padding: 50px 0;
}
.cm-title {
	font-size: 18px;
	color: #000;
	text-align: center;
}
.login-row {
	width: 400px;
	height: auto;
	min-height: 400px;
	margin: 0 auto;
	padding-top: 40px;
}
.login-left {
	width: 100%;
	padding-top: 20px;
	border: #1fa4f0 1px;
}
.login-right {
	width: 48%;
	padding-top: 20px;
	float: left;
	text-align: center;
}
.login-item {
	height: 65px;
}
.repwdbox {
	margin-right: 60px;
	text-align: right;
}
.login-itemmsg {
	height: 32px;
	color: red;
	font-size: 14px;
}
.login-itembtn {
	text-align: center;
}
.login-btn {
	display: inline-block;
	width: 103px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background-size: cover;
	color: #3f240a;
	cursor: pointer;
}
button, input[type='button'], input[type='submit'], input[type='reset'] {
	border: 0 none;
	font-size: inherit;
	font-family: inherit;
}
a {
	text-decoration: none;
}
.reuser {
	display: inline-block;
	color: #77350e;
	margin-top: 16px;
	border-bottom: 1px solid;
	font-size: 13px;
	line-height: 1.5;
}
a:link {
	color: #333333;
}
.repwdbox .repwd {
	display: block;
	color: #808080;
	padding-top: 4px;
	font-size: 13px;
}
.label-text {
	display: inline-block;
	float: left;
	line-height: 32px;
}
.label-text {
	width: 70px;
	text-align: right;
	border: 1px;
}
.tipinfo {
	overflow: hidden;
}
.input-text {
	width: 165px;
	height: 32px;
	border: 1px solid #a5957e;
	text-indent: 4px;
	box-sizing: border-box;
}
.code-input {
	width: 70px;
}
img {
	border: 0 none;
}
input[type='number'] {
	-moz-appearance: textfield;
}
.at-center .wh a {
	color: #663300;
}
