<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传服饰</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900" rel="stylesheet">
    <link rel="stylesheet" href="../static/dist/css/bootstrap.css">
<!--//fonts-->
     <link rel="stylesheet" href="../static/css/etalage.css">
     <script src="../static/dist/js/jquery-3.4.0.min.js"></script>
     <script src="../static/dist/js/bootstrap.min.js"></script>
     <script src="../static/js/jquery.etalage.min.js"></script>
    <script>
        $(document).ready(function(){
        function t(){
         var e = $(".footer");//获取页脚div的对象
         var h = e.offset().top + e.height() ;//获取页脚偏移量加页脚高度的值
        //判断页脚div底部到页面顶端的实际距离是否小于页面可见区域高度
        if(h < document.body.clientHeight){
        //当页面刚好可以包容所有内容不需要下拉时直接加上个定位就是了，当然这里也可以用绝对和相对属性
        //具体设置根据你实际情况来定吧
          $(".footer").css({position:"fixed",bottom:"0px"});
          return;
        }

        function t2(){
                var a = $(document).scrollTop()+document.documentElement.clientHeight;//获取页面滑动偏移量加页面可见区域的高度
                //判断页脚div底部到页面顶端的实际距离是否小于页面滑动偏移量加页面可见区域高度
                if(a >= h){
                //如果页面内容太多，需要下滑展示的时候，给页脚一个固定定位属性
                $(".footer").css({position:"fixed", bottom:"0px"});
                }else{
                //当页面重新上滑页脚需要被隐藏的时候移除它的定位属性，这样不论何时，它肯定是被页面撑起来固定到底部展示的。
                $(".footer").removeAttr("style");
                }
            }
            t2();
            //在页面大小改变时触发方法t2
             $(document).resize(t2);
             //在页面滑动时触发方法t2
             $(document).scroll(t2);
            }
         //直接运行方法t
        t();
        });
   </script>

    <style>
        body{height: 100%;width: 100%;margin:0;padding:0;line-height: 0}
    </style>
</head>
<body>
 <header >
    <nav class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 0">
    <div class="container-fluid ">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">中国古代服饰博物馆</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home/">主页 <span class="sr-only">(current)</span></a></li>
        <li><a href="/module/">精品展示</a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">朝代 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="/first_qin/" >先秦</a></li>
                  <li><a href="/qing_han/">秦汉</a></li>
                  <li><a href="/sui_tang/">隋唐</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/two_song/">两宋</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/y_m_q/">元明清</a></li>
              </ul>
          </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">民族 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a id="han" href="#">汉族</a></li>
            <li><a href="#">壮族</a></li>
            <li><a href="#">回族</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">蒙古族</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">...</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" action="/search/" method="post">
          {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="cs_name">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">博物馆简介</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <img src="{{ root.head_img }}" alt="..." class="img-circle" style="width: 30px;height: 30px">
              {{ root.user_name }}
              <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#" data-toggle="modal">我的信息</a></li>
            <li><a href="/add_cloth/"  data-toggle="modal">上传资源</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/home/">退出</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
     <div style="margin-top: 200px; height: 100%; width: 100%">
       <form class="form-horizontal" method="post" action="/add/">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-5 control-label">服饰名称</label>
            <div class="col-sm-2">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-5 control-label">朝代</label>
            <div class="col-sm-2">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-5 control-label">民族</label>
            <div class="col-sm-2">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputFile" class="col-sm-5 control-label">视频上传</label>
            <div class="col-sm-2">
                <input type="file" id="exampleInputFile" style="height: 30px">
                <p class="help-block"></p>
            </div>
          </div>
           <div class="form-group">
            <label for="inputEmail3" class="col-sm-5 control-label">服饰描述</label>
            <div class="col-sm-3">
                <textarea class="form-control" rows="5"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-5 col-sm-5">
              <button type="submit" class="btn btn-primary">上 传</button>
              <a class="btn btn-danger" href="#" role="button">取 消</a>
            </div>
          </div>
        </form>
     </div>

    <div class="footer" style="width: 100%">
		<div class="container">
				<div class="footer-class">
				<div class="class-footer">
					<ul>
						<li ><a href="home.html" class="scroll">HOME </a><label>|</label></li>
						<li><a href="#" class="scroll">MEN</a><label>|</label></li>
						<li><a href="#" class="scroll">WOMEN</a><label>|</label></li>
						<li><a href="#" class="scroll">COLLECTION</a><label>|</label></li>
						<li><a href="#" class="scroll">STORE PRODUCTS</a><label>|</label></li>
						<li><a href="#" class="scroll">LATEST  PRODUCT</a></li>
					</ul>
					 <p class="footer-grid">Copyright &copy; 2019.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="中国古代服饰博物馆">中国古代服饰博物馆</a></p>
				</div>
				<div class="footer-left">
					<a href="home.html"><img src="../static/images/logo2.png" alt=" " /></a>
				</div>
				<div class="clearfix"> </div>
			 	</div>
		 </div>
	</div>
</body>
</html>