<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/css/layout.css">
	<link rel="stylesheet" type="text/css" href="../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../static/css/ui-component.css">
<link rel="stylesheet" type="text/css" href="../static/css/exhibit.css">
<title>无标题文档</title>
</head>

<body> 
<div id="top" class="top">
		<div class="wrap">
			<p class="call">留言访问QQ：285739499</p>
			<p class="welcome">欢迎来中国古代服装博物馆网络平台&nbsp;请&nbsp;
			<a href="login.html">登录</a>
			<a href="v">注册</a>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#">帮助中心</a>
			</p>
		</div>
	</div>
        <!--content-->
        <div class="pub_cont">
            <!--left-->
            <div class="pub_left" style="height: 600px;">
                <div class="pub_left_all">
                    <div class="pub_title_relic">
                    </div>
                    <div class="pub_class_nav">
                        <ul>
                         		    <li ><a href="#">
                         				朝代简介</a></li>
                                    <li><a href="#">
                                        背景介绍</a></li>
                                    <li><a href="#">
                                        虚拟展示</a></li>
                                
                        </ul>
                    </div>
                </div>
            </div>
            <!--left-->
            <!--right-->
            <div class="pub_right">
                <div class="wh">
                    当前位置：<a href="index.html">首页</a> &gt; <a href="retrieval.html">朝代</a> &gt; &gt; 服装展示</div>
                <!--文物快览-->
                <div class="relic_list_ti">
                    <ul>
                        <li class="relic_title"></li>
                    </ul>
                </div>
                <div class="relic_list_cobg">
                    <div class="relic_list_topbg">
                        <!--内容区-->
                        <div class="relic_list_img">
    <!--left-->
    <ul class="relic_showimg_title">
        服装名称</ul>
    <ul class="relic_showimg" id="imgUl" style="margin: 0px auto; width: 450px; display: block; border: 1px;">
    <div id="wrap" style="top:0px;z-index:9999;position:relative;"><a class="cloud-zoom" id="imgLink" style="margin: 0px auto; display: block; position: relative;" href="#" rel="position:'left',adjustX:-10,zoomWidth:300">
        <img id="img" style="margin: center; border: medium; border-image: none; display: block; max-height: 500px; max-width: 500px;" src="../static/img/t3.PNG"></a>
     <div class="mousetrap" style='left: 0px; top: 0px; width: 450px; height: 415px; background-image: url(&quot;.&quot;); position: absolute; z-index: 999; cursor: move; margin: center;'></div></div></ul>
    <!--left-->
</div>
<div class="relic_list_class">
    <!--right-->
    <ul class="null">
    </ul>
    <ul class="relic_list_btn" style="margin: center;">
        <li><a href="#">
            </a></li><img src="../static/img/ui-slider-arrow.png" border="0">
        <li><a href="">
            #</a></li>
    </ul>
    <ul class="relic_list_title">详细介绍1</ul>
    <ul class="relic_list_date">详细介绍2</ul>
    <ul class="relic_list_infor">详细介绍3<br>
<br>详细介绍4<br>
<br>详细介绍5<br>

    </ul>
    <!--right-->
</div>

                        
                        <!--内容区-->
                    </div>
                </div>
                <div class="relic_list_endbg">
                <p>nnnnnnnnnnnnnnnnnnnnnnn</p>
                </div>
                <!--文物快览-->
                <div class="height10">
                </div>
            </div>
            <!--right-->
            <div class="clear">
            </div>
        </div>
        <div class="clear">
        </div>
        <!--content-->
    </div></form></body>
</html>

</html>
<SCRIPT Language=VBScript><!--

//--></SCRIPT>