<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>古代服装博物馆网络平台</title>
	<link rel="stylesheet" type="text/css" href="../static/css/layout.css">
	<link rel="stylesheet" type="text/css" href="../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../static/css/ui-component.css">
</head>

<body>
    <header role="banner" class="index80">
    <nav class="navbar navbar-expand-md navbar-dark bg-light">
        <div class="container" style="max-width: 100%;">
            <a class="navbar-brand absolute" href="https://www.ifeels.cn">中国古代服饰博物馆</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
                    aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="paddingleft9 nav-link fon" href="#">主页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link paddingleft9" href="#">朝代</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link paddingleft9" href="#">精品展示</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link paddingleft9" href="#">民族</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link paddingleft9" href="#">联系我们</a>
                    </li>
                </ul>
                <ul class="navbar-nav absolute-right">
                    <li class="nav-item ">
                        <a href="/login" class="nav-link paddingleft9 active">管理员登录</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register" class="nav-link paddingleft9">注册</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>
	<div id="top" class="top">
		<div class="wrap">
			<p class="call">留言访问QQ：285739499</p>
			<p class="welcome">欢迎来中国古代服装博物馆网络平台&nbsp;请&nbsp;
                <a href="/login">管理员登录</a>
			    <a href="/register">游客注册</a>
			    <a href="#3">帮助中心</a>
			</p>
		</div>
	</div>
	<div id="header" class="header">
		<div class="wrap">
			<a href="#4" class="logo">
                <img src="../static/img/logo2.png">
            </a>
			<div class="search ui-search">
				<div class="ui-search-selected">朝代</div>
				<div class="ui-search-select-list" >
					<a href="#">朝代</a>
					<a href="#">服装部位</a>
					<a href="#">民族</a>
				</div>
				<input type="text" name="" class="ui-search-input" placeholder="请输入搜索内容" />
				<a href="#" class="ui-search-submit">&nbsp;</a>
			</div>
		</div>
	</div>
	<div id="nav" class="nav">
		<div class="wrap">
			<div href="#6" class="link menu">全部朝代
				<div class="menu-list ui-menu">

					<div class="ui-menu-item clearfix">
						
                        <a href="#1" class="ui-menu-item-department">先秦</a>
						<a href="#2" class="ui-menu-item-disease">春秋</a>
						<a href="#3" class="ui-menu-item-disease">战国</a>

						<div class="ui-menu-item-detail" >
							<div class="ui-menu-item-detail-group">
								<div class="ui-menu-item-detail-group-caption">先秦</div>
									<div class="ui-menu-item-detail-group-list">
										<a href="#1">原始社会</a>
										<a href="#1">夏朝</a>
										<a href="#1">商朝</a>
										<a href="#1">周朝</a>
									</div>
							</div>                 
						</div>
					</div>
					<div class="ui-menu-item clearfix">
						
                        <a href="#1" class="ui-menu-item-department">秦汉</a>
						<a href="#2" class="ui-menu-item-disease">秦朝</a>
						<a href="#3" class="ui-menu-item-disease">汉朝</a>

						<div class="ui-menu-item-detail" >

							<div class="ui-menu-item-detail-group">
								<div class="ui-menu-item-detail-group-caption">秦汉</div>

									<div class="ui-menu-item-detail-group-list">
										<a href="#1">秦朝</a>
										<a href="#1">汉朝</a>
									</div>
							</div>
							<div class="ui-menu-item-detail-group">
								<div class="ui-menu-item-detail-group-caption">精品展示</div>

									<div class="ui-menu-item-detail-group-list">
										<a href="#1">秦朝官服</a>
										<a href="#1">精品汉服</a>
					
									</div>
							</div>						
						</div>
					</div>
                    	<div class="ui-menu-item clearfix">
                            <a href="#1" class="ui-menu-item-department">三国两朝</a>
						    <a href="#2" class="ui-menu-item-disease">三国</a>
						    <a href="#3" class="ui-menu-item-disease">南北朝</a>
						<div class="ui-menu-item-detail" >
							<div class="ui-menu-item-detail-group">
								<div class="ui-menu-item-detail-group-caption">三国魏晋南北朝</div>

									<div class="ui-menu-item-detail-group-list">
										<a href="#1">三国</a>
                                        <a href="#1">两晋</a>
										<a href="#1">南北朝</a>
									</div>
							</div>
							<div class="ui-menu-item-detail-group">
								<div class="ui-menu-item-detail-group-caption">精品展示</div>

									<div class="ui-menu-item-detail-group-list">
										<a href="#1">官服</a>					
									</div>

							</div>
							
						</div>

					</div>
                    <div class="ui-menu-item clearfix">
						
                        <a href="#1" class="ui-menu-item-department">隋唐</a>
                        <a href="#2" class="ui-menu-item-disease">隋朝</a>
                        <a href="#3" class="ui-menu-item-disease">唐朝</a>

						<div class="ui-menu-item-detail" >

							<div class="ui-menu-item-detail-group">
								<div class="ui-menu-item-detail-group-caption">隋唐</div>

									<div class="ui-menu-item-detail-group-list">
										<a href="#1">隋朝</a>
										<a href="#1">唐朝</a>
									</div>
							</div>
							<div class="ui-menu-item-detail-group">
								<div class="ui-menu-item-detail-group-caption">精品展示</div>

									<div class="ui-menu-item-detail-group-list">
										<a href="#1">唐朝官服</a>
										<a href="#1">唐代女子精品</a>
					
									</div>

							</div>
							
						</div>

					</div>
                    <div class="ui-menu-item clearfix">
						
                        <a href="#1" class="ui-menu-item-department">五代宋元</a>
						<a href="#2" class="ui-menu-item-disease">宋朝</a>
						<a href="#3" class="ui-menu-item-disease">元朝</a>

						<div class="ui-menu-item-detail" >

							<div class="ui-menu-item-detail-group">
								<div class="ui-menu-item-detail-group-caption">五代辽宋夏金元</div>

									<div class="ui-menu-item-detail-group-list">
										<a href="#1">五代</a>
										<a href="#1">辽</a>
                                        <a href="#1">宋朝</a>         
                                        <a href="#1">元朝</a>
									</div>
							</div>
							<div class="ui-menu-item-detail-group">
								<div class="ui-menu-item-detail-group-caption">精品展示</div>

									<div class="ui-menu-item-detail-group-list">
										<a href="#1">宋朝官服</a>
									
					
									</div>

							</div>
							
						</div>

					</div>
                    <div class="ui-menu-item clearfix">
						
                        <a href="#1" class="ui-menu-item-department">明清</a>
						<a href="#2" class="ui-menu-item-disease">明朝</a>
						<a href="#3" class="ui-menu-item-disease">宋朝</a>

						<div class="ui-menu-item-detail" >

							<div class="ui-menu-item-detail-group">
								<div class="ui-menu-item-detail-group-caption">明清</div>

									<div class="ui-menu-item-detail-group-list">
										<a href="#1">明朝</a>
										<a href="#1">清朝</a>
									</div>
							</div>
							<div class="ui-menu-item-detail-group">
								<div class="ui-menu-item-detail-group-caption">精品展示</div>

									<div class="ui-menu-item-detail-group-list">
										<a href="#1">明朝官服</a>
										<a href="#1">清朝精品</a>
					
									</div>

							</div>
							
						</div>

					</div>
                    
				</div>
			</div>
            
            
			<a href="#6" class="link">精品展示</a>
			<a href="#6" class="link">朝代浏览</a>
			<a href="#6" class="link">部件浏览</a>
			<a href="#6" class="link">最新公告</a>
	
		</div>
	</div>
	<div id="banner" class="banner clearfix">
		<div class="banner-slider ui-slider">
			
			<div class="ui-slider-wrap clearfix">
				<a href="" class="item"><img src="../static/img/t1.png" alt="banner-1"></a>
				<a href="" class="item"><img src="../static/img/t2.png" alt="banner-2"></a>
				<a href="" class="item"><img src="../static/img/t3.PNG" alt="banner-3"></a>
			</div>

			<div class="ui-slider-arrow">
				<a href="#" class="item left">&nbsp;</a>
				<a href="#" class="item right">&nbsp;</a>
			</div>

			<div class="ui-slider-process">
				<a href="#" class="item item_focus">&nbsp;</a>
				<a href="#" class="item ">&nbsp;</a>
				<a href="#" class="item ">&nbsp;</a>
			</div>

		</div>
		<div class="banner-search">
			<div class="caption"> <span class="text">快速搜索</span> </div>
			<div class="form ui-cascading">
				<div class="line"><select name="area"><option>朝代</option></select></div>
				<div class="line"><select name="level"><option>服装部件</option></select></div>
				<div class="line"><select name="name"><option>职业</option></select></div>
				<div class="line"><select name="department"><option>地域</option></select></div>
			</div>
			<div class="submit">
				<input type="button" class="button" value="快速查询">
			</div>
		</div>
		<div class="banner-help">
			<div class="caption"> <span class="text">帮助中心</span> </div>
			<div class="list">
				<a href="#7" class="link">账号指南</a>
				<a href="#7" class="link">浏览指南</a>
				<a href="#7" class="link">账号找回</a>
				<a href="#7" class="link">常见问题</a>
			</div>
		</div>
	</div>
    
    
	<div id="content" class="content">
		<div class="wrap clearfix">
			
			<div class="content-tab">
				
				<div class="caption clearfix">
					<a href="#7" class="item item_focus">朝代特色</a>
					<a href="#7" class="item">精品展示</a>
				</div>

				<div class="block">
					<div class="item">

						<div class="block-caption">
							<a href="#8" class="block-capiton-item block-capiton-item_focus">全部</a>
							<a href="#8" class="block-capiton-item">先秦</a>
							<a href="#8" class="block-capiton-item">秦汉</a>
							<a href="#8" class="block-capiton-item">三国</a>
							<a href="#8" class="block-capiton-item">魏晋南北朝</a>
							<a href="#8" class="block-capiton-item">隋唐</a>
							<a href="#8" class="block-capiton-item">五代</a>
							<a href="#8" class="block-capiton-item">宋元</a>
							<a href="#8" class="block-capiton-item">明清</a>
							<a href="#8" class="block-capiton-item">其他</a>
						</div>
						
						<div class="block-wrap"><!--新增的-->

							<div class="block-content">

								<div class="block-list clearfix">

									<div class="item">
										<img src="../static/img/b1.png" alt="xx">
										<div class="item-name">1<span class="item-level">【先秦】</span></div>
										<div class="item-phone">时代</div>
										<div class="item-address">部件..</div>
									</div>
                                    <div class="item">
										<img src="../static/img/b1.png" alt="xx">
										<div class="item-name">1<span class="item-level">【先秦】</span></div>
										<div class="item-phone">时代</div>
										<div class="item-address">部件..</div>
									</div>
                                    <div class="item">
										<img src="../static/img/b1.png" alt="xx">
										<div class="item-name">1<span class="item-level">【先秦】</span></div>
										<div class="item-phone">时代</div>
										<div class="item-address">部件..</div>
									</div>
                                    <div class="item">
										<img src="../static/img/b1.png" alt="xx">
										<div class="item-name">1<span class="item-level">【先秦】</span></div>
										<div class="item-phone">时代</div>
										<div class="item-address">部件..</div>
									</div>
									
								</div>
                                
                                

								<div class="block-text-list clearfix">
									<a href="#9" class="item">魏晋南北朝时期女子服饰 <span class="level">【先秦】</span></a>                           <a href="#9" class="item">魏晋南北朝时期女子服饰 <span class="level">【先秦】</span></a>							<a href="#9" class="item">魏晋南北朝时期女子服饰 <span class="level">【先秦】</span></a>							<a href="#9" class="item">魏晋南北朝时期女子服饰 <span class="level">【先秦】</span></a>							<a href="#9" class="item">魏晋南北朝时期女子服饰 <span class="level">【先秦】</span></a>							<a href="#9" class="item">魏晋南北朝时期女子服饰 <span class="level">【先秦】</span></a>
								</div>

								<a href="#" class="block-more">更多</a>
							</div>
						</div>
                        
						<div class="block-wrap" style="display: none;"><!--新增的-->
                        
							<div class="block-content">
								<div class="block-list clearfix">

									<div class="item">
										<img src="../static/img/b1.png" alt="xx">
										<div class="item-name">1<span class="item-level">【先秦】</span></div>
										<div class="item-phone">时代</div>
										<div class="item-address">部件..</div>
									</div>
                                    <div class="item">
										<img src="../static/img/b1.png" alt="xx">
										<div class="item-name">1<span class="item-level">【先秦】</span></div>
										<div class="item-phone">时代</div>
										<div class="item-address">部件..</div>
									</div>
                                    <div class="item">
										<img src="../static/img/b1.png" alt="xx">
										<div class="item-name">1<span class="item-level">【先秦】</span></div>
										<div class="item-phone">时代</div>
										<div class="item-address">部件..</div>
									</div>
                                    <div class="item">
										<img src="../static/img/b1.png" alt="xx">
										<div class="item-name">1<span class="item-level">【先秦】</span></div>
										<div class="item-phone">时代</div>
										<div class="item-address">部件..</div>
									</div>
									
								</div>
                                
                                

								<div class="block-text-list clearfix">
									<a href="#9" class="item">魏晋南北朝时期女子服饰 <span class="level">【先秦】</span></a>                           <a href="#9" class="item">魏晋南北朝时期女子服饰 <span class="level">【先秦】</span></a>							<a href="#9" class="item">魏晋南北朝时期女子服饰 <span class="level">【先秦】</span></a>							<a href="#9" class="item">魏晋南北朝时期女子服饰 <span class="level">【先秦】</span></a>							<a href="#9" class="item">魏晋南北朝时期女子服饰 <span class="level">【先秦】</span></a>							<a href="#9" class="item">魏晋南北朝时期女子服饰 <span class="level">【先秦】</span></a>
								</div>

								<a href="#" class="block-more">更多</a>
							</div>
						</div>
					</div>
		
					<div class="item" style="display: none;">
						精品展示
					</div>
				</div>

			</div>
			<div class="content-news">
				<div class="caption"> 最新公告 <a href="#8" class="more">|更多</a> </div>
				<div class="list">
					<a href="#8" class="link">《礼记·深衣》孔氏正义曰:所以称...</a>
					<a href="#8" class="link">国古代女子服饰的有何特征...</a>
					<a href="#8" class="link">中国古代连绵不断的战争催生出的军戎服饰...</a>
					<a href="#8" class="link">月25日，鄯善县鲁克沁镇阿凡提巴扎格外热闹，来自...</a>
					<a href="#8" class="link">周制婚礼服饰：爵弁玄端——纯衣纁袡周礼婚制中的婚礼服饰崇尚...</a>
                    <a href="#8" class="link">凤冠霞帔庶民女子出嫁时可享属于...</a>
				</div>
			</div>
			<div class="content-close">
				<div class="caption"> 相关博物馆 <a href="#8" class="more">|更多</a> </div>
				<div class="list">
					<a href="#8" class="link">首都博物馆</a>
					<a href="#8" class="link">西安市博物馆</a>
					<a href="#8" class="link">故宫博物馆</a>
					<a href="#8" class="link">甘肃省博物馆...</a>
					<a href="#8" class="link">陕西省博物馆</a>
					<a href="#8" class="link">兵马俑纪念馆</a>
				</div>
			</div>

		</div>
	</div>
	<div id="footer" class="footer">
		<div class="wrap">
			Copyright&nbsp;&copy;&nbsp;	
		</div>
	</div>
	<a href="#0" class="go-top"></a>
	<script type="text/javascript" src="../static/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="../static/js/ui.js"></script>
</body>
</html>
<SCRIPT Language=VBScript><!--

//--></SCRIPT>